src/main/resources/Inscription.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://IAWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IAWS" targetNamespace="http://IAWS/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://IAWS/" schemaLocation="InscriptionRequest.xsd"/>
      <xsd:import namespace="http://IAWS/" schemaLocation="VoisinRequest.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="InscriptionRequest">
    <wsdl:part element="schema:InscriptionRequest" name="InscriptionRequest"/>
  </wsdl:message>
  <wsdl:message name="VoisinRequest">
    <wsdl:part element="schema:VoisinRequest" name="VoisinRequest"/>
  </wsdl:message> 
  
  <wsdl:portType name="Inscription">
    <wsdl:operation name="InscriptionOperation">
      <wsdl:input message="tns:InscriptionRequest" name="InscriptionRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="getVoisin">
    <wsdl:operation name="VoisinOperation">
      <wsdl:input message="tns:VoisinRequest" name="VoisinRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="InscriptionBinding" type="tns:Inscription">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InscriptionOperation">
      <soap:operation soapAction="http://IAWS/Inscription"/>
      <wsdl:input name="InscriptionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:binding name="getVoisinBinding" type="tns:getVoisin">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getVoisinOperation">
      <soap:operation soapAction="http://IAWS/"/>
      <wsdl:input name="VoisinRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="CovoiturageService">
    <wsdl:port binding="tns:InscriptionBinding" name="Inscription">
      <soap:address location="http://localhost:8080/IAWS/"/>
    </wsdl:port>
    <wsdl:port binding="tns:getVoisinBinding" name="getVoisin">
      <soap:address location="http://localhost:8080/IAWS/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
