src/main/resources/Inscription.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://IAWS/Inscription/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Inscription" targetNamespace="http://IAWS/Inscription/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://IAWS/Inscription" schemaLocation="InscriptionRequest.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  
  <wsdl:message name="InscriptionRequest">
    <wsdl:part element="schema:InscriptionRequest" name="InscriptionRequest"/>
  </wsdl:message>
  <wsdl:message name="NeighborsRequest">
    <wsdl:part element="schema:NeighborsRequest" name="NeighborsRequest"/>
  </wsdl:message>
  
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  
  
  
  
  
  <wsdl:portType name="Inscription">
    <wsdl:operation name="InscriptionOperation">
      <wsdl:input message="tns:InscriptionRequest" name="InscriptionRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="InscriptionBinding" type="tns:Inscription">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InscriptionOperation">
      <soap:operation soapAction="http://IAWS/Inscription"/>
      <wsdl:input name="InscriptionRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

<wsdl:portType name="Neighbors">
    <wsdl:operation name="NeighborsOperation">
      <wsdl:input message="tns:NeighborsRequest" name="NeighborsRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  
  
  <wsdl:binding name="NeighborsBinding" type="tns:Neighbors">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NeighborsOperation">
      <soap:operation soapAction="http://IAWS/Inscription"/>
      <wsdl:input name="NeighborsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="CovoiturageService">
    <wsdl:port binding="tns:InscriptionBinding" name="Inscription">
      <soap:address location="http://localhost:8080/IAWS/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
