src/main/resources/NeighborsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetIAWS">
	<xs:element name="GetVoisinRequest">
		<xs:complexType>
			<xs:all>
				<xs:element name="mail" type="xs:String"/>
				<xs:element name="rayon" type="xs:int"/>
			</xs:all>
			<xs:attribute type="xs:int" name="id" use="optional" />
		</xs:complexType>
	</xs:element>
</schema>